@CHARSET "ISO-8859-1";
.float-logo{
	
	float: left;
	padding:1px;
}

.logo-wrapper{
	float:left;
}
.EHICLE{
	font-size: 50px;
}
.header-content{
	position: absolute;
	left: 30%;
}
.header-wrapper{
	padding:2px;
	
}
.extra-padding{
	padding: 30px;
}